---
source_file: "C:\Users\yashb\Pictures\Projects\TestBuddy\Backend\ai-api-tester\src\main\java\com\testai\ai_api_tester\model\TestResult.java"
type: "code"
community: "TestRun Domain Model"
location: "L14"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/TestRun_Domain_Model
---

# TestResult

## Connections
- [[.prePersist()_1]] - `method` [EXTRACTED]
- [[TestResult.java]] - `contains` [EXTRACTED]
- [[TestResult.java_1]] - `contains` [EXTRACTED]

#graphify/code #graphify/EXTRACTED #community/TestRun_Domain_Model