---
source_file: "C:\Users\yashb\Pictures\Projects\TestBuddy\Backend\ai-api-tester\src\main\java\com\testai\ai_api_tester\model\TestRun.java"
type: "code"
community: "TestCase Repository"
location: "L12"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/TestCase_Repository
---

# TestRun

## Connections
- [[.prePersist()_2]] - `method` [EXTRACTED]
- [[TestRun.java]] - `contains` [EXTRACTED]
- [[TestRun.java_1]] - `contains` [EXTRACTED]

#graphify/code #graphify/EXTRACTED #community/TestCase_Repository